.gradle/
/build/
app/build/
local.properties
.idea/
/.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.kotlinc/
.kotlinc_caches/
.DS_Store
/captures
.externalNativeBuild
.cxx
*.iml
